﻿<%@ Page Title=" Case Records View Details" Language="C#" MasterPageFile="~/index.master" AutoEventWireup="true" CodeFile="CaseRecordsViewDetails.aspx.cs" Inherits="CaseRecordsViewDetails" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="header" runat="Server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="Content" runat="Server">
    <% if (Session["username"] != null)
        { %>

    <div class="row">
        <div class="col col-lg-12 col-sm-12">
            <h1>
                <img class="header" alt="Grid Icon" src="Content/css/images/grid-icon-333.svg">
                <asp:Literal Text="" ID="ltrTableName" runat="server" />
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12 col-md-12 col-sm-12">
            <div class="program workarea">
                <div class="program-header">
                    <div class="row row-no-padding">
                        <div class="col col-lg-4 col-md-4 col-sm-4">
                            <div class="program-icon">
                                <img alt="Grid Icon" src="Content/css/images/grid-icon.svg">
                            </div>
                        </div>
                        <div class="col col-lg-8 col-md-6 col-sm-8">
                            <div class="action-buttons-container">
                                <div class="form-item">
                                    <asp:HiddenField ID="hdfTableName" runat="server" />
                                    <asp:HiddenField ID="hdfSchema" runat="server" />
                                    <asp:HiddenField ID="hdfKeyName" runat="server" />
                                    <asp:HiddenField ID="hdfRowID" runat="server" />
                                    <asp:HiddenField ID="hdfNextRowID" runat="server" />
                                    <asp:HiddenField ID="hdfPreviousRowID" runat="server" />
                                    <asp:HiddenField ID="hdfSearchText" runat="server" />
                                    <asp:HiddenField ID="hdfName" runat="server" />
                                    <asp:HiddenField ID="hdfSearch" runat="server" />
                                    <asp:HiddenField ID="hdfColumnName" runat="server" />
                                    <asp:HiddenField ID="hdfFromDate" runat="server" />
                                    <asp:HiddenField ID="hdfToDate" runat="server" />
                                    <asp:HiddenField ID="hdfChangeFacility" runat="server" />
                                    <asp:HiddenField ID="hdfCaseID" runat="server" />
                                    <asp:HiddenField ID="hdfBirthId" runat="server" />
                                     <asp:HiddenField ID="hdfDeathId" runat="server" />
                                     <asp:HiddenField ID="hdfCaseRecId" runat="server" />

                                    <%--<asp:Button Text="Previous" runat="server" OnClick="btnPrev_Click" ID="btnPrev" CssClass="btn btn-primary" />
                                    <asp:Button Text="Next" runat="server" OnClick="btnNext_Click" ID="btnNext" CssClass="btn btn-primary" />  --%>
                                    <asp:Button Text="Return to Search Results" OnClick="btnAdvancedSearch_Click" runat="server" ID="btnAdvanceResult" CssClass="btn btn-primary" OnClientClick="return ShowProgressResults();" />
                                    <asp:Button Text="New Search" OnClick="btnAdvancedAll_Click" runat="server" ID="btnAdvancedAll" CssClass="btn btn-primary" OnClientClick="return ShowProgressResults();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="program-description">
                    <div class="admin-workarea">
                        <div class="row row-no-padding">
                            <div class="col col-lg-12 col-sm-12">
                                <div class="form-item">
                                    <label for="Content_ddlColumn">Filter by Data Element</label>
                                    <asp:DropDownList runat="server" ID="ddlColumn" CssClass="form-control" ValidationGroup="search">
                                    </asp:DropDownList>
                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator2" runat="server" ErrorMessage="Required" ControlToValidate="ddlColumn"></asp:RequiredFieldValidator>
                                </div>
                                <div class="form-item">
                                    <asp:Button Text="Apply" runat="server" ID="btnSearch" OnClick="btnSearch_Click" CssClass="btn btn-success" ValidationGroup="search" />
                                </div>
                                <div class="form-item">
                                    <asp:Button Text="Reset" runat="server" ID="btnReset" OnClick="btnReset_Click" CssClass="btn btn-danger" />
                                </div>
                                <div class="form-item">
                                    <asp:Label ID="lblCaseRecordMessagedisplay" runat="server" CssClass="messagedisplay"></asp:Label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-12 col-sm-12">
                                    <div>
                                        <li class="form-item">
                                            <asp:LinkButton ID="btnCaseReport" CssClass="disableGreyCaseReport" title="Linked case reports history" Text="Linked Case Reports" runat="server" OnClick="btnCaseReport_Click" OnClientClick="return ShowProgress();" > 
                                            <div class="link-icon">
                                               <image src="Content/css/images/box-arrow-in-up-right-white.svg"  alt="Linked Case Reports"></image> Linked Case Reports
                                            </div>
                                            </asp:LinkButton>
                                        </li>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row row-no-padding">
                                <div class="col col-lg-12 col-md-12 col-sm-12 admin-area-table-container">
                                    <div class="tableFixHead">
                                        <table class="table table-bordered table-striped table-fixed" visible="true" rules="all" id="gvDynamic" style="border-collapse: collapse;" border="1" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Columns</th>
                                                    <th scope="col">Case Record</th>
                                            </thead>
                                            <tbody>
                                                <% if (dt != null)
                                                    {
                                                        for (int i = 0; i < dt.Rows.Count; i++)
                                                        {
                                                %>
                                                <tr>

                                                    <% if (Convert.ToString(dt.Rows[i][0]) == "Birth Rec No.")
                                                        {%>
                                                    <td>
                                                        <%=dt.Rows[i][0] %> 
                                                    </td>
                                                    <td style="background-color: #E3F4FF;">

                                                         <input type="hidden" id="btnLinkedBirthRecord<%=Convert.ToString(dt.Rows[i][1]) %>" class="chkBirthHiddenId" name="hidden" value="<%=dt.Rows[i][1] %>" />
                                                        <b><u><a href="#" onclick="linkedBirthRecordDetails('LinkedBirthRecordsView.aspx?&Schema=MBDR_System&BirthRecNo=<%=dt.Rows[i][1] %>&Table=LinkedBirthRecordsView'); return false;"><%=dt.Rows[i][1] %></a></u></b>
                                                       
                                                    </td>
                                                    <%}
                                                        else if (Convert.ToString(dt.Rows[i][0]) == "Death Rec No.")
                                                        {%>
                                                            <td>
                                                                <%=dt.Rows[i][0] %> 
                                                            </td>
                                                            <td style="background-color: #E3F4FF;">

                                                                     <input type="hidden" id="btnLinkedDeathRecord<%=Convert.ToString(dt.Rows[i][1]) %>" class="chkDeathHiddenId" name="hidden" value="<%=dt.Rows[i][1] %>" />
                                                        <b><u><a href="#" onclick="linkedDeathRecordDetails('LinkedDeathRecordsView.aspx?&Schema=MBDR_System&DeathRecNo=<%=dt.Rows[i][1] %>&Table=LinkedDeathRecordsView'); return false;"><%=dt.Rows[i][1] %></a></u></b>
                                                     
                                                            </td>
                                                        <%}

                                                        else
                                                        {%>
                                                    <td>
                                                        <%=dt.Rows[i][0] %>
                                                    </td>

                                                    <td style="background-color: #E3F4FF;">
                                                        <%=dt.Rows[i][1] %>  
                                                    </td>
                                                    <%}%>
                                                </tr>

                                                <%}
                                                    }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <div class="loadingspin" align="center">
        <img src="Content/css/images/loading-waiting.gif" alt="Loading Page" width="120" height="120" /><br />
        <br />
        Loading ... Please wait ...
       <br />
    </div>

    <script>

        function linkedBirthRecordDetails(url) {
            const title = " Case Record Details";
            const w = "600";
            const h = "300";
            var propWin = `directories=no,titlebar=no,scrollbars=no,toolbar=no,location=no,status=Yes,menubar=no,resizable=no `;
            const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screenX;
            const dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screenY;

            const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            const systemZoom = width / window.screen.availWidth;
            const left = (width - w) / 2 / systemZoom + dualScreenLeft
            const top = (height - h) / 2 / systemZoom + dualScreenTop

            const newWindow = window.open(url, title, propWin, `width=${w / systemZoom},height=${h / systemZoom},top=${top},left=${left}`)

            if (window.focus) newWindow.focus();
            return false;
        }

        function linkedDeathRecordDetails(url) {
            const title = " Case Record Details";
            const w = "600";
            const h = "300";
            var propWin = `directories=no,titlebar=no,scrollbars=no,toolbar=no,location=no,status=Yes,menubar=no,resizable=no `;
            const dualScreenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screenX;
            const dualScreenTop = window.screenTop !== undefined ? window.screenTop : window.screenY;

            const width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            const height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            const systemZoom = width / window.screen.availWidth;
            const left = (width - w) / 2 / systemZoom + dualScreenLeft
            const top = (height - h) / 2 / systemZoom + dualScreenTop

            const newWindow = window.open(url, title, propWin, `width=${w / systemZoom},height=${h / systemZoom},top=${top},left=${left}`)

            if (window.focus) newWindow.focus();
            return false;
        }

        function removeProgress() {
            var modal = $('div.modalspin');
            modal.removeClass("modalspin");
            var loading = $(".loadingspin");
            loading.hide();
        }

        function ShowProgress(para) {

            let $btnEle = $('#Content_btnCaseReport');
            if ($btnEle.hasClass('enableGreyCaseReport')) {
                return;
            }

            var modal = $('<div />');
            modal.addClass("modalspin");
            $('body').append(modal);
            var loading = $(".loadingspin");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ "position": "center", top: top, left: left });

            return true;
        }

        function ShowProgressResults(para) {

            var modal = $('<div />');
            modal.addClass("modalspin");
            $('body').append(modal);
            var loading = $(".loadingspin");
            loading.show();
            var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
            var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
            loading.css({ "position": "center", top: top, left: left });

            return true;
        }

    </script>
</asp:Content>

