/*
 * HTML, Body
 * Typography
 * Containers
 * Buttons
 * Lists
 * Forms
 * Tables
 * Media Queries (within each category)	
 *
 * Small and medium Devices (>= 768px)
 * blue #005F85
 * light grey #eceef1, medium grey #D4D6D8, dark grey #a9a9a9, text #333, form text #808080
 *
 **/
/********************************************************
 * HTML, Body 
 ********************************************************/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
.bold-text
{
    font-weight:800;
}

body {
    background: #eceef1;
    font-size: 14px;
    font-family: “Helvetica Neue” Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
/********************************************************
 * Typography 
 ********************************************************/
h1 {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: 14px;
    font-weight: 400;
}

    h2.blocktitle {
        font-size: 18px;
        font-weight: 500;
    }

h3 {
    font-size: 13px 
    text-transform: uppercase;
    font-weight: 600;
}

p {
    font-size: 12px;
    margin: 0.5em 0;
}

a {
    color: #000066;
    text-decoration: underline;
}

bold, strong {
    font-weight: 600;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.small {
    font-size: 10px;
}

.large {
    font-size: 14px;
}

.prefix-icon {
    height: 16px;
    width: auto;
}

.page-title {
    margin-left: 16px;
}

.pt-1 {
    padding-top: 6px !important;
}

.pt-2 {
    padding-top: 10px !important;
}
@media screen and (max-width: 768px) {
}
/********************************************************
 * Header & Navigation 
 ********************************************************/
header {
    margin: 0;
}

    header .header-top {
        background: #fff;
        padding: 4px 0;
    }

    header .header-bottom {
        background: #005F85;
        padding: 4px 0;
        color: #fff;
    }

.header-top {
    padding: 4px 0 0 0;
}

header .header-top .container {
    position: relative;
}

.header-top .logo {
    width: 450px;
    height: auto;
    overflow: hidden;
}

    .header-top .logo a {
        text-decoration: none;
    }

    .header-top .logo img {
        width: auto;
        height: 56px;
        display: inline-block;
        float: left;
        padding: 0;
        margin: 0 8px 0 0;
    }

    .header-top .logo .site-name {
        display: inline-block;
        float: left;
        font-weight: 600;
        font-size: 24px;
        width: 140px;
        padding: 1px 0 0 0;
        margin: 0;
    }

img.header {
    height: 20px;
    width: auto;
    vertical-align: top;
}
/* Primary Navigation */
.primary-nav {
    display: inline-block;
    float: right;
}

    .primary-nav .icon {
        display: block;
        color: #333;
        margin-top: 24px;
    }

#divRed.primary-nav img {
    margin: -28px 0px -28px -100px;
    padding: 0px 10px 0px 55px;
    height: 20px;
    position: relative;
}

#divGreen.primary-nav img {
    margin: -28px 0px -28px -100px;
    padding: 0px 10px 0px 55px;
    height: 20px;
    position: relative;
}

#divRed.primary-nav h6 {
    margin: 10px 0px -28px -165px;
    padding: 0px 10px 0px 55px;
}

#divGreen.primary-nav h6 {
    margin: 10px 0px -28px -165px;
    padding: 0px 10px 0px 55px;
}

#divBell.primary-nav img {
    margin: -28px 0px -28px -100px;
    padding: 0px 10px 0px 55px;
    height: 20px;
}

#cVer.primary-nav h6 {
    margin: 26px 0px -8px -170px;
}

#disUserName.primary-nav h6 {
    display: flex;
    color: #333;
    margin: 6px 0px 0px -80px;
}

.primary {
    display: none;
}

    .primary.active {
        display: block;
        position: absolute;
        top: 48px;
        right: 12px;
        background: #ECEEF1;
        z-index: 999;
        width: 40%;
        padding: 8px;
        margin: 0;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

        .primary.active li {
            display: inline;
            float: right;
            margin: 8px;
            padding: 0;
            width: 100%;
        }

            .primary.active li a {
                display: block;
                float: left;
                background: #005F85;
                color: #fff;
                text-decoration: none;
                text-align: center;
                margin: 0 auto;
                padding: 4px 8px;
                width: 100%;
            }

            .primary.active li #filessubmissionlog, #filessubmissionlogDisable1, #filessubmissionlogDisable2, .primary.active li #caseReprotsSubmissionErrors, #caseReprotsSubmissionErrorsDisable1, #caseReprotsSubmissionErrorsDisable2 {
                margin: 0;
                width: 90%;
                float: right;
                background: #4682b4;
            }

        .primary.active hr {
            clear: both;
        }

.lnkErrorId {
    position: relative;
}

    .lnkErrorId:active:after, .lnkErrorId.active:after {
        background: url("images/arrow.PNG");
        width: 10px; /* arrow's width */
        height: 10px; /* arrow's height */
        margin-left: -5px; /* half of arrow's width */
        /*position: absolute;*/
        top: 100%;
        right: 50%;
        content: " ";
    }

@media screen and (max-width: 768px) {
    .primary.active {
        width: 100%;
    }
}
/********************************************************
 * Grid 
 ********************************************************/
.row {
    margin: 0;
    padding: 0;
    width: 100%;
}

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

.row-padding {
    padding: 0 16px;
}

.col {
    min-height: 1px;
    padding-left: 16px;
    padding-right: 16px;
    display: inline-block;
    float: left;
}

.row-view-matching {
    padding-top: 16px;
}

.row-no-padding .col {
    padding-left: 4px;
    padding-right: 4px;
}

.row row-no-padding-matching-linking {
    padding: 16px 0px 0px 16px;
}

.col-lg-1 {
    width: 8.3333%;
}

.col-lg-2 {
    width: 16.6666%;
}

.col-lg-3 {
    width: 24.9999%;
}

.col-lg-4 {
    width: 33.3332%;
}

.col-lg-5 {
    width: 41.6665%;
}

.col-lg-6 {
    width: 48.9998%;
}

.col-lg-7 {
    width: 58.3331%;
}

.col-lg-8 {
    width: 66.6664%;
}

.col-lg-9 {
    width: 74.9997%;
}

.col-lg-10 {
    width: 83.333%;
}

.col-lg-11 {
    width: 91.6663%;
}

.col-lg-12 {
    width: 100%;
}

/*for user management */

.col-lg-444 {
    width: 75%;
}

/*.form-item-userManagement {
    display:flex;
    float: left;*/
/*margin: 0 -80px 0 0;*/
/*}

#Content_txtFirstName, #Content_txtLastName, #Content_txtEmailId, #Content_txtConfirmMail, #Content_txtUserPass, #Content_txtConfirmPassword, input[type='text'] {
    border: 1px solid #a9a9a9;
    height: 22px;
    font-size: 14px;
    color: #000;
    background: #fff;
    width: 385px;
}


#lblFirstName, #lblLastName, #lblEmail, #lblConfirmEmail, #lblUserPass, #lblConfirmPassword, label {
    margin-bottom: 4px;
    max-width: 100%;
    color: #000;
    font-size: 14px;
    display: ruby;
    width: 100%;
}*/



/*.form-item-userManagement {
    margin-bottom: 10px;
}

    .form-item-userManagement label {
        display: block;
        margin-bottom: 6px;
        font-size: 16px;
        color: #000;
    }

    .form-item-userManagement input[type='text'],
    .form-item-userManagement input[type='email'],
    .form-item-userManagement input[type='password'] {
        border: 1px solid #a9a9a9;
        height: 25px;
        font-size: 16px;
        color: #000;
        background: #fff;
        width: 100%;
        padding: 0px 0px 0px 10px;
        box-sizing: border-box;
    }
*/

.form-item-userManagement {
    margin-bottom: 8px;
}

    .form-item-userManagement label {
        display: block;
        margin-bottom: 6px;
    }

    .form-item-userManagement input[type="text"],
    .form-item-userManagement input[type="password"],
    .form-item-userManagement input[type="email"],
    .form-item-userManagement select {
        width: 100%;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 25px;
    }

    .form-item-userManagement .row {
        display: flex;
        flex-wrap: wrap;
    }

    .form-item-userManagement .col {
        flex: 0 0 100%;
        max-width: 100%;
    }

@media (min-width: 576px) {
    .form-item-userManagement .col.col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .form-item-userManagement .col.col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}







/*#Content_userTypeCheckBoxList.custom-checkbox .tbody tr td {
    color: black;
    padding: 4px 8px;
    border: 0px solid #000;
    font-size: 12px;
}*/

/* Custom CSS to remove border and label from CheckBoxList */
.custom-checkbox label, .custom-checkbox input[type="checkbox"] {
    display: table-row;
}
    .custom-checkbox input[type="checkbox"] + label:before {
        content: none;
    }
    .custom-checkbox input[type="checkbox"]:checked + label:before {
        content: '';
    }

/* Up to here for user management*/



@media screen and (max-width: 768px) {
    .col-sm-1 {
        width: 8.3333%;
    }

    .col-sm-2 {
        width: 16.6666%;
    }

    .col-sm-3 {
        width: 24.9999%;
    }

    .col-sm-4 {
        width: 33.3332%;
    }

    .col-sm-5 {
        width: 41.6665%;
    }

    .col-sm-6 {
        width: 48.9998%;
    }

    .col-sm-7 {
        width: 58.3331%;
    }

    .col-sm-8 {
        width: 66.6664%;
    }

    .col-sm-9 {
        width: 74.9997%;
    }

    .col-sm-10 {
        width: 83.333%;
    }

    .col-sm-11 {
        width: 91.6663%;
    }

    .col-sm-12 {
        width: 100%;
    }
}




.program-header.disabled-program {
    opacity: 0.5; /* Reduce opacity to indicate disabled state */
    pointer-events: none; /* Disable pointer events on the disabled tile */
    background-color: #f2f2f2; /* Set a grey background color */
}


.button-container-saveCancel {
    text-align: right;
}



#Content_btnPermissions, #Content_btnUserRole, #Content_btnUserManage {
    background: white;
    color: black;
}

.program-title-usermgmt {
    padding: 4px 8px;
    margin: 0;
    display: inline-block;
    float: left;
    color: #fff;
    font-size: larger;
    line-height: 24px;
}
/********************************************************
 * Containers 
 ********************************************************/
main {
    padding: 16px;
}

    main .container {
        min-height: 100vh;
        margin: 0 auto 4px auto;
        padding: 8px;
        background: #fff;
        overflow: auto;
    }

.session-timer {
    text-align: right;
    margin-right: 16px;
}

/********************************************************
 * Admin Workarea 
 ********************************************************/
.program.workarea {
    min-width: 1100px;
    background: #fff;
    border: 1px solid #757575;
}

    .program.workarea .program-description {
        background: #fff;
        border: 1px solid #757575;
        padding: 0;
        overflow: hidden;
    }

        .program.workarea .program-description .sidebar, .program.workarea .program-description .admin-workarea {
            float: left;
        }

/* Sidebar */
.sidebar {
    width: 25%;
    height: 100vh;
    padding: 18px 0;
    border-right: 1px solid #757575;
}

    .sidebar .button-left {
        position: absolute;
        top: 16px;
        left: 148px;
        display: block;
        width: 24px;
        height: 24px;
        background: url('images/chevron-circle-left-solid.svg') no-repeat;
    }

    .sidebar .header {
        padding: 0 8px;
    }

    .sidebar .body {
        padding: 16px 0;
        max-height: 560px;
        overflow-x: hidden;
        overflow-y: auto;
    }

        .sidebar .body table tbody tr td {
            border: none;
            padding: 6px 8px;
        }

    .sidebar.fliph .sidebar-container {
        display: none;
    }

    .sidebar.fliph {
        padding: 0;
        width: 16px;
        background: #eceef1;
    }

        .sidebar.fliph li {
            position: relative
        }

        .sidebar.fliph .button-left {
            left: 4px;
            background: url('images/chevron-circle-right-solid.svg') no-repeat;
        }

    .sidebar .body table tbody td.notesbtn {
        padding: 0 245px;
    }

    .sidebar .body table tbody td.notebox #Content_txtNotes {
        width: 328px;
        height: 120px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }


/* admin-workarea */
.admin-workarea {
    padding: 8px 8px 8px 24px;
    width: 100%;
}


    .admin-workarea .admin-area-table-container {
        width: 100%;
        overflow: auto;
    }

.admin-workarea-matching-linking {
    width: 100%;
    padding: 16px;
    margin-top: -15px;
}

/* Workarea Admin Menu */
.admin-workarea-menu {
    overflow: hidden;
    padding: 10px 0;
    margin: 0;
}

    .admin-workarea-menu ul.menu {
        padding: 0;
        margin: 0;
    }

        .admin-workarea-menu ul.menu li, button#btnFullView, button#birthSearch, button#deathSearch, button#btndeepstat, button#btndeepStat, #Content_btnMatchDetails, button#btnInfo, #Content_lnkCaseReport, #Content_lnkCase1Report, #Content_lnkDeathRecord, #Content_lnkBirthRecord, #Content_lnkDeath1Record, #Content_lnkBirth1Record {
            display: inline-block;
            float: left;
            padding: 4px;
            margin: 0 8px 0 0;
            font-size: 12px;
            text-align: center;
            border: 1px solid #000066;
            border-radius: 6px;
        }

        .admin-workarea-menu ul.menu li {
            background-color: aliceblue;
        }


            .admin-workarea-menu ul.menu li.disableButton {
                background: #eceef1;
                color: #757575;
            }

                .admin-workarea-menu ul.menu li.disableButton a {
                    cursor: auto;
                }

    .admin-workarea-menu li.active {
        background: #feba35;
    }

    .admin-workarea-menu ul.menu li.active a {
        color: #fff;
    }

    .admin-workarea-menu ul.menu li a {
        color: black;
        display: inline-block;
        text-decoration: none;
    }

    .admin-workarea-menu .link-icon {
        display: block;
        text-align: center;
        margin: 4px;
    }

        .admin-workarea-menu .link-icon img {
            width: auto;
            height: 20px;
        }

.enableGrey {
    /*border-radius: 6px;
    opacity: 1.25;
    background-color: darkgrey;*/
    /*  filter: alpha(opacity=30);*/
    color: black !important;
    border-color: black !important;
    border-radius: 6px !important;
    opacity: 1.25 !important;
    background-color: darkgrey !important;
}

button#btnFullView1 {
    display: inline-block;
    float: left;
    padding: 4px;
    margin: 0 8px 0 0;
    font-size: 12px;
    text-align: center;
    border: 1px solid #000066;
    border-radius: 6px;
    background-color: darkgrey;
    opacity: 1.25;
    color: dimgray;
}

/*.disableGrey {
    background-color: aliceblue;
}*/

footer {
    background: #333;
    padding: 16px 0;
    min-height: 50px;
}

    footer, footer a {
        color: #fff;
        text-decoration: none;
    }
/* IE 10+ style for Logo container */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .admin-workarea {
        width: 100%;
    }
}

/********************************************************
 * Buttons 
 ********************************************************/
.form-submit, .btn.btn-primary, input[type="submit"] {
    display: inline-block;
    background: #005F85;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #005F85;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 8px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.action-links {
    padding-left: 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .action-links li {
        display: inline-block;
    }

        .action-links li a {
            display: inline-block;
            background: #333;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            padding: 4px 8px;
            margin: 8px;
        }

#btnLogout {
    display: block;
    text-decoration: none;
    text-align: center;
    background: #DB4437;
    color: #fff;
    padding: 4px 8px;
    margin: 4px auto;
    width: 45%;
}

.lnkButton {
    display: inline-block;
    background: #005F85;
    color: #fff;
    text-decoration: none;
    border: 2px solid #005F85;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 8px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.action-buttons-container {
    float: right;
    display: inline-block;
}

#Content_btnBasicSearch, #Content_btnBackTo, #Content_btnCaseRecordTB, #Content_btnLinkedCaseReportsTB
{
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
}

#Content_btnAdvanceResult, #Content_btnAdvancedSearch, #Content_btnAID, #Content_btnReturnResult {
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
    width: 155px;
}

#Content_btnNext, #Content_btnPrev{
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
    width: 105px;
}

#Content_btnReturnAaEL, #Content_btnReturnAL {
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
    width: 210px;
}


#Content_btnReturnCRVE {
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
    width: 260px;
}





/* note for self add back #content_btnAll once all advance search is made */
#Content_btnAdvancedAll, #Content_btnAll {
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
    width: 83px;
}
/*temporary changing the width form button all  */

#Content_btnPossibleMatch {
    margin: 5px;
    background: #fff;
    color: #005F85;
    font-weight: 600;
    font-size: 11px;
    width: 170px;
}



#Content_btnPrev.btn.btn-disabled, #Content_btnNext.btn.btn-disabled {
    display: inline-block;
    background: #9A9A9A;
    color: dimgray;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid darkslategray;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Active Tap Indicator Green with Blue Border */

#Content_cmpBXDEFECT.active, #Content_btnStatus.active, #Content_cmpSearch.active, #Content_cmpAllSources.active,
#Content_btnCaseReports.active, #Content_btnBirthRecords.active, #Content_btnDeathRecords.active,
#Content_btnSimilar.active, #btnBirthRecords.active, #btnDeathRecords.active {
    background: #98FB98 !important;
    border: thick double #1E90FF !important;
    color: #000 !important;
    cursor: not-allowed;
    pointer-events: none;
    width: 110px;
}

/*data Indicator Green*/

#Content_btnBirthRecords.activeGreen, #Content_btnDeathRecords.activeGreen, #Content_btnCaseReports.activeGreen,
#Content_btnStatus.activeGreen, #Content_btnSimilar.activeGreen, #btnBirthRecords.activeGreen, #btnDeathRecords.activeGreen {
    background: #98FB98 !important;
    border: 1px solid #008000 !important;
    color: #000 !important;
    width: 110px;
}

/* No Data Indicator Grey Out*/

#Content_btnBirthRecords.btn-disabled, #Content_btnDeathRecords.btn-disabled, #Content_btnCaseReports.btn-disabled,
#Content_btnSimilar.btn-disabled, #btnBirthRecords.btn-disabled, #btnDeathRecords.btn-disabled {
    background-color: darkgray;
    border: 1px solid #696969 !important;
    /* border-color: darkgray;*/
    color: #000;
    cursor: not-allowed;
    pointer-events: none;
    width: 110px;
}




a.imagelink {
    background: url(../css/images/link-solid.svg) no-repeat left top;
    padding-left: 25px;
}

#lnkFake {
    visibility: hidden;
}

/* Link to case reports */
.linkhidden {
    display: !important none;
}



@media screen and (max-width: 768px) {
}
/********************************************************
 * Lists 
 ********************************************************/
@media screen and (max-width: 768px) {
}
/********************************************************
 * Modal Box 
 ********************************************************/
.modalBackground {
    background-color: #000;
    opacity: 0.9;
}

.modalPopup {
    background-color: #fff;
    width: 300px;
    border: 3px solid #005F85;
    padding: 0;
}

    .modalPopup .header {
        background-color: #005F85;
        height: 30px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
    }

    .modalPopup .body {
        padding: 10px;
        min-height: 50px;
        text-align: center;
        font-weight: bold;
    }

    .modalPopup .footer {
        padding: 6px;
    }

    .modalPopup .yes, .modalPopup .no {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        border-radius: 4px;
        padding: 4px 8px;
        margin: 8px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

    .modalPopup .no {
        /*background: #005F85;
        border: 2px solid #005F85;
        color: #fff;*/
        background: #005F85 !important;
        border: thick double #fff !important;
        color: #fff !important;
    }

    .modalPopup .yes {
        background: #333;
        border: 2px solid #333;
        color: #fff;
    }
/********************************************************
 * Forms 
 ********************************************************/
form {
    background: #eceef1;
    padding: 16px 32px;
    margin: 0 32px 16px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

input[type='text'] {
    border: 1px solid #a9a9a9;
    height: 24px;
    font-size: 14px;
    color: #000;
    background: #fff;
    width: 96%;
    padding: 2px 4px;
    margin: 0 0 4px 0;
}

input[type='checkbox'] {
    accent-color: #B22222;
    margin: 3px;
    color: currentColor;
    width: 1.15em;
    height: 1.25em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

/*table input[type='checkbox'] {
    accent-color: #B22222;
    margin: 3px;
    color: currentColor;
    width: 1.15em;
    height: 1.25em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    background-color: white;
    box-shadow: 0 0 0 2px #000000;
}
*/





label {
    margin-bottom: 4px;
    max-width: 96%;
    color: #000;
    font-size: 12px;
    display: block;
    width: 100%;
    white-space: nowrap;
}

    label.showNone {
        text-indent: -9999px;
        height: 1px;
    }

.MBDRUIFORM-card label {
    color: #fff;
}

fieldset {
    background: #fff;
    height: 28px;
    overflow: hidden;
    margin: 0;
}

    fieldset.active {
        height: auto;
    }

legend {
    background: transparent;
    color: #333;
    padding: 4px 8px;
}

#form1 {
    padding: 0;
    margin: 0;
    box-shadow: none;
}

.MBDRUIFORM-card {
    width: 50%;
    height: auto;
    overflow: hidden;
    background: #005F85;
    border-radius: 8px;
    color: #ffffff;
    padding: 16px 32px;
    margin: 32px auto;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

    .MBDRUIFORM-card p {
        text-align: center;
    }

    .MBDRUIFORM-card .form-text {
        color: #D4D6D8;
    }

    .MBDRUIFORM-card .btn.btn-primary {
        background: #fff;
        color: #005F85;
        margin: 8px auto;
        display: block;
    }

    .MBDRUIFORM-card #Content_txtUserName, .MBDRUIFORM-card #Content_txtPassword, #Content_txtSearch {
        color: #000;
        background: #fff;
    }

#Content_txtSearch, #Content_txtchdLN, #Content_txtchdFN, #Content_txtMomLN, #Content_txtMomFN, #Content_txtadd1, #Content_txtadd2, #Content_txtcity,
#Content_txtchdMN, #Content_txtchdSuf, #Content_txtchdALN, #Content_txtchdAFN, #Content_txtchdAMN, #Content_txtadd2, #Content_txtchdMN, #Content_txtChildMiddleName, #Content_txtAID, #Content_txtSID {
    width: 130px;
    height: 24px;
    border-radius: 4px;
    display: block;
    border: 1px solid #000;
}

#Content_ddlColumn, #Content_ddlTotintTables, #Content_ddlErrorType, #Content_ddlClaimedBy, #Content_ddlArchiveTables, #Content_ddlCaseReports,
#Content_ddlOwnership, #Content_ddlMatchLevel, #Content_ddlVeriStatus, #Content_ddlFacility {
    width: auto;
    height: 24px;
    border-radius: 4px;
    display: block;
    border: 1px solid #000;
}


#Content_txtChildMRN {
    border-radius: 4px;
    border: 1px solid #000;
    height: 24px;
}

/**********************Only Dates or IDs field*******/
#Content_txtBirthID, #Content_txtDeathID, #Content_txtChildSSN, #Content_txtCRecId, #Content_txtBirthRecId,
#Content_txtDeathRecId, #Content_txtMomSSN, #Content_txtzip, #Content_txtCRepId, #txtDateFrom, #txtDateTo, #txtChildDOB, #txtAdminDate, #txtDisDate,
#Content_txtFid {
    width: 100px;
    height: 24px;
    border-radius: 4px;
    display: block;
    border: 1px solid #000;
}


#Content_ddlTotintTables, #Content_ddlErrorType, #Content_ddlClaimedBy, #Content_ddlArchiveTables, #Content_ddlCaseReports, #Content_ddlOwnership {
    margin-bottom: 16px;
}



#Content_btnSubmit, #Content_btnSearch, #Content_btnReset, #Content_btnUpdate, #Content_btnAdvanceSearch, #Content_btnClear, #Content_btnResetAdv, #Content_btnGoBSearch, #Content_btnExport {
    margin: 14px 0 0 0;
}

#Content_btnCaseRecord {
    display: inline-block;
    float: left;
    padding: 4px 8px;
    margin: 14px 0 0 0;
    font-size: 13px;
    text-align: center;
    border: 1px solid #000066;
    border-radius: 12px;
    background-color: #1F618D;
    height: 28px;
    width: 185px;
    color: whitesmoke;
    text-decoration: none;
    font-family: “Helvetica Neue” Helvetica, Arial, sans-serif;
}

/*#Content_btnCaseRecord, #Content_btnCaseReport {
    display: inline-block;
    float: left;
    padding: 4px 8px;
    margin: 14px 0 0 0;
    font-size: 13px;
    text-align: center;
    border: 1px solid #000066;
    border-radius: 12px;
    background-color: #1F618D;
    height: 28px;
    width: 185px;
    color: whitesmoke;
    text-decoration: none;
    font-family: “Helvetica Neue” Helvetica, Arial, sans-serif;
}*/

.disableGreyCaseReport {
    display: inline-block;
    float: left;
    padding: 4px 8px;
    margin: 14px 0 0 0;
    font-size: 13px;
    text-align: center;
    border: 1px solid #000066;
    border-radius: 12px;
    background-color: #1F618D;
    height: 28px;
    width: 185px;
    color: whitesmoke;
    text-decoration: none;
    font-family: “Helvetica Neue” Helvetica, Arial, sans-serif;
}

.enableGreyCaseReport {
    display: inline-block;
    float: left;
    padding: 4px 8px;
    margin: 14px 0 0 0;
    font-size: 13px;
    text-align: center;
    border: 1px solid #000066;
    border-radius: 12px;
    background-color: darkgrey !important;
    height: 28px;
    width: 185px;
    color: black;
    text-decoration: none;
    font-family: “Helvetica Neue” Helvetica, Arial, sans-serif;
    opacity: 1.25 !important;
}

.form-item {
    display: inline-block;
    float: left;
    margin: 0 16px 0 0;
}

@media screen and (max-width: 768px) {
    form {
        width: 100%;
    }
}
/********************************************************
 * Tiles 
 ********************************************************/
.program {
    padding: 0;
    margin: 8px 0 16px 0;
    background: #ECEEF1;
}

    .program a {
        text-decoration: none;
    }

    .program:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    .program .program-header:hover {
        cursor: pointer;
    }

    .program.sm:hover, .program.sm.wd:hover, .program.md:hover, .program.workarea {
        cursor: default;
        box-shadow: none;
    }

    .program .program-header {
        padding: 0;
        margin: 0;
        background: #005F85;
        overflow: hidden;
    }

        .program .program-header .program-icon {
            padding: 8px;
            margin: 0;
            display: inline-block;
            float: left;
            border-right: 1px solid #fff;
        }

            .program .program-header .program-icon img {
                height: 16px;
                width: auto;
            }

        .program .program-header .program-name {
            padding: 4px 8px;
            margin: 0;
            display: inline-block;
            float: left;
            color: #fff;
            font-size: 15px;
            line-height: 24px;
        }

            .program .program-header .program-name h1 {
                padding: 0;
                margin: 2px 4px 0 4px;
                font-size: 15px;
                line-height: 24px;
            }

    .program .program-description {
        padding: 8px;
        min-height: 72px;
        overflow: auto;
        font-size: 12px;
        position: relative;
    }

    .program.sm .program-header .program-icon img {
        height: 12px;
        width: auto;
    }

    .program.sm .program-header .program-name, .program.md .program-header .program-name {
        font-size: 12px;
        line-height: 22px;
    }

    .program.md .program-description {
        font-size: 12px;
        min-height: 60px;
    }

.comparison-buttons-container {
    padding: 5px;
    /*display: flex;*/
    overflow: auto;
}

.form-item-ml {
    display: inline-block;
    float: left;
    /*margin: 0 16px 0 0;*/
    flex: 0 0 auto;
    margin-right: 20px;
}

    .form-item-ml:nth-child(2) {
        margin-right: 0px;
        margin-left: auto;
        /*visibility: hidden;*/
    }

.mlsourceMargin {
    margin-left: -12px;
}
/********************************************************
 * Tables 
 ********************************************************/
table {
    width: 100%;
    /* border-collapse: collapse;
    border: 0;*/
    overflow: auto;
}

    table thead tr th, table tbody tr th {
        background: #005F85;
        border: 1px solid #a9a9a9;
        color: #fff !important;
        padding: 4px 8px;
        text-align: center;
        font-size: 12px;
    }

    table tbody tr:nth-child(odd) {
        /*background-color: #eceef1;*/
        background-color: #fff;
        color: #333;
    }

    table thead tr th a, table tbody tr th a {
        color: #fff !important;
    }

    table tbody tr td {
        color: #333;
        padding: 4px 8px;
        border: 1px solid black;
        font-size: 12px;
        white-space: nowrap;
    }

        table tbody tr.alt, table tbody tr td.alt {
            background: #eceef1;
        }

        table tbody tr td.grey {
            background: #eceef1;
        }

        table tbody tr td.blue {
            background: #e3f4ff;
        }

    table thead tr, table tbody tr {
        width: 100%;
    }

.tableFixHead {
    overflow-y: auto;
    /* height: 480px;*/
}



    .tableFixHead thead th, .tableFixHead tbody th {
        position: sticky;
        top: 0;
        z-index: 99;
    }

    .tableFixHead.file-info table {
        table-layout: fixed;
        width: 100%;
    }

        .tableFixHead.file-info table tbody tr th:nth-child(1),
        .tableFixHead.file-info table tbody tr th:nth-child(2) {
            width: 280px;
        }

        .tableFixHead.file-info table tbody tr th:nth-child(3) {
            width: 60px;
        }

        .tableFixHead.file-info table tbody tr th:nth-child(7),
        .tableFixHead.file-info table tbody tr th:nth-child(8),
        .tableFixHead.file-info table tbody tr th:nth-child(9) {
            width: 160px;
        }

        .tableFixHead.file-info table tbody tr th:nth-child(4),
        .tableFixHead.file-info table tbody tr th:nth-child(5),
        .tableFixHead.file-info table tbody tr th:nth-child(6) {
            width: 140px;
        }

/* Pager */
table tbody tr td table {
    display: inline-block;
}

    table tbody tr td table tbody tr td {
        border: 0;
        display: inline-block;
        min-width: 0;
        background: #a9a9a9;
        padding: 4px 0;
    }

table tbody tr td.grey a #Content_lnkCaseReport {
    float: right;
    display: inline-block;
    padding: 4px;
    margin: 0 8px 0 0;
    font-size: 12px;
    text-align: center;
    border: 1px solid #000066;
    border-radius: 4px;
}

.gridview {
}

    .gridview a {
        padding: 4px 8px;
        color: #000;
        text-decoration: none;
    }

        .gridview a:hover {
            background: #DB4437;
            color: #fff;
        }

    .gridview span {
        background: #005F85;
        color: #fff;
        padding: 4px 8px;
    }

@media screen and (max-width: 768px) {
}
/********************************************************
 * Tabs 
 ********************************************************/
.tabs {
}

    .tabs .tabs.primary, .tabs .tabs.secondary {
        border-bottom: 1px solid #a9a9a9;
    }

        .tabs .tabs.primary li, .tabs .tabs.secondary li {
            margin: 0 0 2px 0;
            padding: 0;
        }

            .tabs .tabs.primary li a, .tabs .tabs.secondary li a {
                display: inline-block;
                background: #fff;
                color: #808080;
                border: 1px solid #fff;
                padding: 4px 8px;
                margin: 0;
                text-decoration: none;
            }

            .tabs .tabs.primary li.active, .tabs .tabs.secondary li.active {
                margin-bottom: 0;
            }

            .tabs .tabs.primary li a.active, .tabs .tabs.secondary li a.active {
                background: #a9a9a9;
                color: #333;
                border: 1px solid #a9a9a9;
                padding-bottom: 6px;
            }

@media screen and (max-width: 768px) {
    .tabs {
        display: none;
    }
}

/********************************************************
 * Additional Properties for Dialog box
 ********************************************************/

.ui-dialog {
    background: #ffffff;
    border: 1px solid #dddddd;
    color: #333333;
    font-weight: 500;
    z-index:200;
}

    .ui-dialog .ui-dialog-titlebar {
        border: 1px solid #dddddd;
        background: #005F85;
        color: #fff;
        font-weight: 600;
    }

    .ui-dialog .ui-dialog-content {
        width: auto;
        min-height: 0px;
        max-height: none;
    }

    .ui-dialog .ui-dialog-buttonpane {
        background: #ffffff;
        /*        border: 1px solid #dddddd;*/
        color: #333333;
        font-weight: bold;
    }


/********************************************************
 * Page Load Wait, Spinner
 ********************************************************/
.modalspin {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    opacity: 0.6;
    filter: alpha(opacity=70);
    -moz-opacity: 0.8;
    min-height: 100%;
    width: 100%;
}

.loadingspin {
    font-family: Arial;
    font-size: 20px;
    width: 500px;
    height: 100px;
    display: none;
    position: fixed;
    z-index: 999;
    color: floralwhite;
    transform: translate(-50%, -50%) !important;
    top: 50% !important;
    left: 50% !important;
    text-align: center;
}





/********************************************************
 * Matching and Linking
 ********************************************************/


th.data-element {
    background-color: #005F85;
    color: white;
}

th.candidate {
    background-color: #005F85;
    color: white;
}

th.case-report {
    background-color: dodgerblue;
    color: black;
}

th.birth-record {
    background-color: dodgerblue;
    color: black;
}

th.death-record {
    background-color: dodgerblue;
    color: black;
}

.blue-color {
    background-color: #e3f4ff;
    color: black;
}


.grey-color {
    background-color: #D3D3D3 !important;
    color: black !important;
    border: 1px solid black !important;
    cursor: default !important;
}

.white-color {
    background-color: #fff;
    color: black;
}


th.veri-details {
    background-color: #fff;
    color: black !important;
    text-align: left;
}

.WhiteBlue-color {
    background-color: #F0F8FF;
    color: black !important;
    text-align: left;
}


/***span color***/

.span-red-link {
    color: red;
}

.underlined-text {
    text-decoration: underline;
    color: red;
}

.merged-cell input[type="button"] {
    margin-right: 10px; /* Adjust the value as needed to create the desired space */
}



.yes-button {
    background-color: green;
    color: white;
    border-radius: 14px;
}

.no-button {
    background-color: red;
    color: white;
    border-radius: 14px;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}



.red-italic {
    color: red;
    font-size: 14px;
    font-style: italic;
}

.yellow-highlight {
    font-size: 14px;
    font-style: italic;
    background-color: yellow;
}


/********************************************************
 * Bell Notifications
 ********************************************************/

/* CSS */
.notification-container {
    display: inline-block;
}

.bell-icon {
    cursor: pointer;
}

.notification-popup {
    position: absolute;
    top: 45px;
    right: 29px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    padding: 10px;
    display: none; /* Hidden by default */
    z-index:9999;
}

.notification-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.notification-icon {
    margin-right: 10px;
}

.notification-content {
    flex-grow: 1;
}

.notification-title {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
}

.notification-message {
    margin: 5px 0;
    font-size: 14px;
}

.notification-time {
    font-size: 10px;
    color: #999;
}

.notification-footer {
    margin-top: 10px;
    text-align: center;
}

.notification-link {
    color: #007bff;
    text-decoration: none;
    font-size: 11px;
}

.notification-container.hide {
    display: none;
}



/*display messgae */
.messagedisplay {
    font-weight: bold;
    font-size: 15px;
    color: black;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}



/********************************************************
 * Remove MBDR Server Connection, Hemberger Menu
 ********************************************************/

/*#primary-icon, #divGreen, #divRed {
    display: none;
}
*/


/********************************************************
 * Testing, DeBugging 
 ********************************************************/
/*@media screen and (min-width: 1025px){
	body {
		border-top: solid 6px red;
	}	
}
@media screen and (min-width: 993px) and (max-width: 1024px){
	body {
		border-top: solid 6px blue;
	}	
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	body {
		border-top: solid 6px green;
	}	
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	body {
		border-top: solid 6px darkred;
	}	
}

@media screen and (max-width: 479px){
	body {
		border-top: solid 6px black;
	}	
}*/

/********* case verification comment ******************/

.comment {
    color: black !important;
    width: 100% !important;
    height: 60px !important;
    overflow-y: auto;
    border-radius: 4px;
    resize: none;
    font-weight: 600;
    border: 1px solid black !important;
}
.comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/******** case verification methods *********/
.checbox-list {
    display: grid;
    grid-template-columns: 0fr 1fr 0fr 1fr 0fr 1fr !important;
    gap: 1px;
}


    .checbox-list label {
        padding-top: 7px !important;
    }
/******** case verification methods for disable *********/
.checbox-list-disabled {
    display: grid;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 1px;
}

    .checbox-list-disabled label {
    display:inline !important;
   
    }


.tableFixHead-verification {
    width: 100% !important;
}


select:disabled {
    color: black !important;
    border-color: black !important;
}


.cursor-point {
    cursor: default !important;
    border: 1px solid black;
}
/*disable button save*/
.cursor-default {
    cursor: default !important;
    background: #d7d7d7 !important;
    border: 1px solid black !important;
    color: black !important;
    font-weight: 600 !important;
}

.cursor-defaultDateGO {
    cursor: default !important;
    background: #d7d7d7 !important;
    border: 1px solid black !important;
    /* color: black !important;*/
    width: 110px !important;
    font-weight: 600 !important;
    height: 20px !important;
}
/* for enable button save */
.cursor-pointer {
    cursor: pointer !important;
    background: #005F85 !important;
    border: 1px solid #005F85 !important;
}


.cursor-pointerWhite {
    cursor: pointer !important;
    background: #fff !important;
    border: 1px solid black !important;
}

.cursor-pointerWhiteNewField {
    cursor: pointer !important;
    background: #fff !important;
    border: 1px solid black !important;
    width: 110px !important;
    height: 20px !important;
}

.btnCommonBlue {
    display: inline-block;
    background: #005F85;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid #005F85;
    border-radius: 12px;
    padding: 4px 8px;
    margin: 8px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


/*************** fix it tools textbox field property *******************/

.fixTextBox {
    resize: none;
    width: 400px;
    height: 75px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid black !important;
    margin-bottom: 6px;
}


.labelMarginTop{
    margin-top: 10px !important;
    margin-left: 6px;
    font-weight: 600;
    font-size: small;
}

/*************** fix it tools (alternative way for checkbox using button) *******************/

.checkbox-btnFix {
    background-color: #fff;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 15px;
}

.checkbox-icon-btnFix {
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    display: inline-block;
    margin-right: 8px;
    position: relative;
    border-radius: 2px;
    margin-left: -5px;
}

    .checkbox-icon-btnFix:after {
        content: "";
        position: absolute;
        display: none;
        left: 4px;
        top: 0px;
        width: 5px;
        height: 10px;
        border: solid #000;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

.checkbox-btnFix.checked .checkbox-icon-btnFix:after {
    display: block;
}

/******* disable flag for fix tool checkbox *******/
.btnFix-cursor-default {
    cursor: default !important;
    background: #d7d7d7 !important;
    border: 0px solid black !important;
    color: black !important;
    font-weight: 600 !important;
}

/******  CASE VERIFICATION STATISTICS **********/

.checkboxCCHD {
    margin-top: 18px !important;
    margin-right: 16px !important;
    margin-left: 40px !important;
    display: flex !important;
    align-items: center !important;
}

.checkboxCCHDLabel {
    margin-left: 10px !important;
    font-size: small !important;
    margin-top: 2px !important;
}

.cvsLeftMargin 
{
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    background: #f0f8ff !important;
    width: auto;
    padding: 20px !important;
}

.cvsTextBoxNotaion {
    border: 1px solid black !important;
    padding: 10px !important;
    background: #C6C6CA !important;
}

.inputCurrentDate {
    width: 170px !important;
    height: 24px !important;
    border-radius: 4px !important;
    display: block !important;
    border: 1px solid #000 !important;
}

.customDateField {
    width: 110px !important;
    height: 24px !important;
    border-radius: 4px !important;
    display: block !important;
    border: 1px solid #000 !important;
}

.cvsFacTitle {
    font-weight: bold !important;
    font-size: 20px !important;
    text-transform: uppercase !important;
    text-align: left !important;
}

.cvsTable {
    border: hidden;
    background: #f0f8ff !important;
    height: auto !important;
    width: auto !important;
    padding: 20px !important;
}

table td.margin20px
{
    margin-left: 10px !important;
}


.indent {
    padding-left: 35px !important;
}

.alignCCHDaction {
    margin-left: 0px !important;
}


/*****************  Fonts   ************************/

.fontDDSize {
    margin-top: 8px !important;
    font-weight: 600 !important;
    text-wrap: nowrap !important;
}

.fieldRadius {
    border-radius: 4px;
    border: 1px solid #000;
    height: 24px;
}

.displayGrid {
    display: grid;
    margin-right: 50px !important;
    text-wrap: nowrap !important;
}

.rightAlignment {
    float: right;
}

/************Facility Table**************/
.facilityTable {
    width: 55%;
    margin: 0 auto;
    border: 1px solid black !important;
   font-size:10px;
}

.secondtablebackgroud {
    background-color: white !important;
}

.tablebackcolor {
    background-color: lightgoldenrodyellow !important;
    font-family: “Helvetica Neue” Helvetica, Arial, sans-serif !important;
    font-size: 24px !important;
}

.secondtablefirsttr {
    text-align: center !important;
    font-weight: 800;
    background-color: white !important;
    border: 1px solid black !important;
}

.secondtablefacilitytr {
    font-weight: 800;
    background-color: white !important;
    border: 1px solid black !important;
}

.facilityTabletdfirst-child {
    text-align: right;
    font-weight: 800;
    border: 1px solid black !important;
}

.commonwidth{
    width :400px !important
}

/************** FRCs **************/


#tblFrcComment {
    border-collapse: collapse;
    width: 100%;
    display: inline-table !important;
    background-color: white !important;
}

    #tblFrcComment td {
        border: 1px solid black;
        padding: 6px !important;
        text-align: left !important;
        background-color: white !important;
        display: revert !important;
    }

.propertyFRCCommenttable {
    width: 80% !important;
    display: revert !important;
    background-color: white !important;
    border-collapse: collapse !important;
}

/*.hideField{
    display: none !important;
}

.removehideField {
    display:block !important;
}*/

.printCVS {
    position: absolute;
    right: 200px;
}

.marginLeft10 {
    margin-left: 10px !important;
}

.marginLeft30 
{
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.marginLeft50 {
    margin-top: 8px !important;
    margin-left: 90px !important;
    margin-right: 10px !important;
}

.marginRight30 {
    margin-right: 30px !important;
}

.printFRCs table tbody tr td{
    padding-left: 25px !important;
}



.printlogo {
    height:50px !important; 
}

.blueColor {
    color: #0C66E4 !important;
}

/*M&L date of range search for birth and load */

.dobLabelRange {
    font-weight: 600 !important;
    margin-top: 20px !important;
    margin-left: 5px;
}

.hideDisable {
    visibility:hidden;
}


/*---------  FRCS radion button ----------------------*/

.radio-group {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 12px;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto !important;
}

.margintop6px {
    margin-top: 6px !important;
}

.center-text{
    text-align: center;
}

.left-align {
    text-align: left !important;
}

.boldFont {
    font-weight:bold;
}

.greyCell {
    background: lightgrey !important;
}

.radiusborder 
{   
    width: auto !important;
    height: 24px;
    border-radius: 4px;
    margin-bottom: 14px;
    display: block;
    border: 1px solid #000;
}


/************  Fix it Tools  ******************/

.enableGreyFitIt {
    border-radius: 6px !important;
    height: 24px !important;
    border-color: black !important;
    opacity: 1.25 !important;
    background-color: #d7d7d7 !important;
    color: black !important;
    width: 135px !important;
}

.enableGreyDate 
{
    cursor: default !important;
    background: #d7d7d7 !important;
    border: 1px solid black !important;
    width: 110px !important;
    border-radius: 6px !important;
    height: 24px !important;
    color: black !important;
}

.enableGreyFid {
    border: 1px solid #000;
    cursor: default !important;
    background: #d7d7d7 !important;
    border: 1px solid black !important;
    width: 100px !important;
    border-radius: 6px !important;
    height: 24px !important;
    color: black !important;
}

.reporterInfo {
    margin-top: 15px;
    font-size: larger;
}

.margin150px {
    margin-left: 150px !important;
}

.margin10px {
    margin-left: 10px !important;
}

.comments-FixitDetails {
    background-color: #fff;
    border: none;
    font-size: 14px;
    /*cursor: pointer;*/
    display: flex;
    align-items: center;
    font-weight: 600;
    margin-top: 15px;
}

.fititTable {
    /*margin-top: 12px !important;*/
    margin-left: 0px !important;
    width: auto !important;
}

.admin-workarea-fixit-tools {
    width: 98% !important;
    padding: 4px;
    white-space: nowrap;
    overflow-x: auto !important;
}

.colorRowColLabel {
    background-color: #D3D3D3;
}

.colorRowRecords {
    color: #fff;
    /*background-color: #005F85;*/
    background-color: #0b6284;
}


.colorRowReports {
    color: #fff;
    background-color: #4682b4;
}

.colorColCaseRecords{
    background-color: #e3f4ff;
}


.wrapperFixIt {
    width: 100%;
    height: auto;
    white-space: nowrap;
}

.ContainerFixIt {
    height: auto;
    width: 100%;
    overflow-y: auto;
}

.ContentFixIt {
    width: 100%;
    /*overflow-x: auto;*/
}

.Flipped, .Flipped .ContentFixIt {
    transform: rotateX(180deg);
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #757575;
    border-radius: 2px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }



.buttonSelectAll{
    float: right !important;
}




/*******************/

.classPinkCell {
    background-color: pink;
}

.classPurpCell {
    background-color: #C2B4E2;
}

.classYellowCell {
    background-color: #FFD32C;
}

.yellow-highlight-fixit {
    font-style: italic;
    background-color: #FFD32C;
}

.toggleCaseReports {
    float: right !important;
    margin-right: 10px !important;
}

.arrowsFixit {
    width: 15px;
    height: 15px;
    background-color: white;
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

/*/#0b6284*/

/************* Similar **************/

.selectAllSimilar {
    height: 25px;
    text-align: center;
    font-weight: 600;
}

.pinkCellSimilar {
    background: #FFC7CE !important;
}

.greenTick {
    background-image: url('../../Content/css/images/greenCheck3.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 3px;
    height: 3px;
    position: sticky !important;
}


/*Fix it details scroll bar */
.scroll-wrapper {
    overflow-x: scroll;
    white-space:nowrap;

}
.table-container-fix{
    position:relative;
    overflow-x:auto;
}


#top-scroll,#bottom-scroll {
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
}



/*********** Audit ***************/

.ActionLabelRange{
    font-weight: 600 !important;
    margin-top: 30px !important;
    margin-left: 5px;
}


/*********** Case verification with user details   **************/

.custom-cv-table{
    display: grid;
    width: auto !important;
    border-collapse: collapse;
}

.custom-cv-row {
    display: flex;
    border: 1px solid black;
}

.custom-cv-cell {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    flex: 1;
    font-weight: 700 !important;
}

.keepUpperBorder {
    border-bottom: none !important;
    border-left: none !important;
    border-right: none !important;
}

.removeAllBorder {
    border: none !important;
}

.removeUpperBorder {
    border-top: none !important;
}
