﻿.wrapper {
    /*border: 0px solid #ccc;*/
    width: 100%;
    height: auto;
    overflow: scroll;
}


table {
    width: 100%;
}

.Container {
    height: auto;
    width: 100%;
    overflow-y: auto;
    /*background-color: green;
    border-radius: 5px;
    margin: 0 auto;*/
}

/*.Content {
    width: 1400px;
}*/

.Content {
    width: 100%;
}

.Flipped, .Flipped .Content {
    transform: rotateX(180deg);
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}



/*th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;
}*/



/* Left Column width 219 */

/* this grey property isworking form 2nd column light bluee*/

    table tbody tr td.blue {
        left: 219px;
    }

    table tbody tr td.alt {
        /*  background: #eceef1;*/
        left: 0px;
    }


/* Left Column -1 grey slide not overlapping */

td:nth-child(1) {
    position: sticky;
    left: 0;
   /* background-color: #eceef1;*/
    z-index: 99;
    width: 150px;
    min-width: 220px;
}

/* Left Column- 2 blue slide not overlapping */
td:nth-child(2) {
    position: sticky;
    left: 150px; /* Adjust this value to match the width of the first column */
   /* background-color: #eceef1;*/
    z-index: 99;
    width: 100px;
    min-width: 220px;
}

th:nth-child(1), th:nth-child(2), td:nth-child(1), td:nth-child(2) {
   /* position: sticky;*/
    left: 0;
   /* background-color: #eceef1;*/
}

/* Left Column- 1 grey fixed */
th:nth-child(1), td:nth-child(1) {
    width: 150px;
    min-width: 220px;
}

/* Left Column- 2 blue fixed */
th:nth-child(2), td:nth-child(2) {
    width: 100px;
    min-width: 220px;
}

.scrollable {
    overflow-x: auto;
}

.zoomPosition {
    float: right;
    height: auto;
}


thead th.sticky-unmatched {
    position: sticky;
    top: 0;
    background-color: #005F85;
    z-index: 99;
    width: 150px;
    min-width: 220px;
}

thead th.sticky-matched {
    position: static;
    top: 0;
    background-color: #4682b4;
    z-index: 0;
    font-size: small;
}


/************ Fix it tools ********************/


thead th.sticky-fixitFirstColumn {
    left: 0;
    z-index: 2;
    position: sticky;
}

thead th.sticky-fixitsecondColumn {
    position: sticky !important;
    left: 220px;
    z-index: 1;
    text-align: left;
}

tbody tr td.sticky-fixitFirstColumn {
    left: 0;
    z-index: 99;
    position: sticky !important;
}

tbody tr td.sticky-fixitsecondColumn {
    position: sticky !important;
    left: 220px;
    z-index: 99;
}

